/* about */
.about_head img{
    position: absolute;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    margin-top: -70px;
    width: 40%;
    margin-left: 50%;
    height: auto;
    
}
.about img{
    border: 1px solid gray;
    border-radius: 10% 10% 10% 10%;
}
.about_content .about_img img{
    width: 50px;
    height: auto;
}


/* awards */
/* .Awards {
    margin-top: 1rem;
    background-color: #B8DA80;
    padding: 2rem;
    background-image: url(/images/buble.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.Awards h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.award_col {
    position: relative;
    width: 250px;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.award_col img {
    width: 120%;
    height:300px;
    object-fit: cover;
    filter: brightness(50%);
    transition: transform 0.4s ease;
}

.award_col .info {
    position: absolute;
    bottom: 0;
    height: 56px;
    width: 100%;
    background-color: rgba(65, 64, 64, 0.6);
    text-align: center;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.award_col .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9f9f9;
}

.award_col p {
    margin-top: 1rem;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.award_col:hover img {
    transform: scale(1.1);
}

.award_col:hover p {
    opacity: 1;
    transform: translateY(0);
    animation: fadeup 0.1s forwards;
}
.award_col:hover .info{
    left: 50%;
    width: 50%;
    top: 30px;
    height: 60px;
    color: black;
}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
} */
 .award_head{
    margin-top: 5%;
 }
 .awards{
    display: flex;
    margin-top: 2rem;
    background-color: #B8DA80;
    padding: 2rem;
    background-image: url(/images/buble.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    /* position: absolute; */

 }
 .award_head h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
 }
.award {
    position: relative;
    width: 400px;
    margin-left: 1rem;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction:row;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.award img {
    width: 120%;
    height:300px;
    object-fit: cover;
    filter: brightness(50%);
    transition: transform 0.4s ease;
}

.award .info {
    position: absolute;
    bottom: 0;
    height: 56px;
    width: 100%;
    background-color: rgba(65, 64, 64, 0.6);
    text-align: center;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.award .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9f9f9;
}

.award p {
    margin-top: -70px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.award:hover img {
    transform: scale(1.1);
}

.award:hover p {
    opacity: 1;
    color: #f1f7f5;
    transform: translateY(0);
    animation: fadeup 0.1s forwards;
}
.award:hover .info{
    left: 50%;
    width: 50%;
    top: 20px;
    height: 60px;
    color: black;
}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.award_sec{
    
    margin-top: -25%;
    display: flex;
    justify-content: center;
}

.award1 {
    position: relative;
    width: 600px;
    margin-left: 1rem;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction:row;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.award1 img {
    width: 120%;
    height:300px;
    object-fit: cover;
    filter: brightness(50%);
    transition: transform 0.4s ease;
}

.award1 .info {
    position: absolute;
    bottom: 0;
    height: 56px;
    width: 100%;
    background-color: rgba(65, 64, 64, 0.6);
    text-align: center;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.award1 .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9f9f9;
}

.award1 p {
    margin-top: -70px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.award1:hover img {
    transform: scale(1.1);
}

.award1:hover p {
    opacity: 1;
    color: #f1f7f5;
    transform: translateY(0);
    animation: fadeup 0.1s forwards;
}
.award1:hover .info{
    left: 50%;
    width: 50%;
    top: 20px;
    height: 60px;
    color: black;
}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.deffenition{
    margin-top: 2rem;
}
.deffenition h2{
    word-spacing: 1.5px;
}
.para{
    border: 1px solid gray;
    padding: 20px;
    background-color: #B8DA80;
}
.para p{
    font-size: 20px;
    font-weight: 800px;
}


/*** FAQ'S Start ***/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.quick h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic 0;
    margin-left: 1.5rem;
}
.quick video{
    margin-left: 1rem;
}

.wrapper{
    max-width: 85%;
    margin: auto;
}

.wrapper >h2 {
    margin: 1.5rem 0;
    text-align: center;
    
}
.wrapper >h2{
    letter-spacing: 3px;
}

.accordion{
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i{
    font-size: 1.6rem;
}

.accordion:hover{
    background-color: #f1f7f5;
}
.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
    
}

.faq{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active{
    border: none;
}

.and_icon img{
    margin-top: -3px;
    width: 50px;
    mix-blend-mode: multiply;
}

/*** FAQ'S End ***/

/* media query */
@media (min-width: 320px) and (max-width:425px){

    .awards{
        display: block;
        width: 100%;
        height: 120%;
    }
    .award {
        margin-top: 1rem;
        margin-left: 0px;
        width: 100%;
      
      }
      .award_sec{
        display: block;
        width: 100%;
        padding-top: 60px;
      }
      .award1{
       margin-left: 0px;
        width: 100%;
        margin-top: 1rem;
      }
      .about_head img{
        display: none;
      }
  
}
@media (min-width: 767px) and (max-width:900px){

    .award_sec{
        /* margin-top: -45%; */
        width: 717px;
    }
    .award1{
        margin-top: -9rem;
    }
    .about_head img{
        display: none;
      }
  
}
@media (min-width: 1024px) and (max-width:1200px){

    .award_sec{
        margin-top: -35%;
        width: 98%;
    }
    .award1{
        margin-top: 1%;
    }
}
